.main-title {
  background-color: #313131;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  margin: 0px;
  font-size: 45px;
}

.side-bar {
  height: 100%;
  min-height: 1000px !important;
  border-left: 2px solid #313131;

}

thead tr {
  border-bottom: 1px solid #313131;
}



.train-logo {
  color: #313131;
  text-align: center;
  margin: 40px auto 10px auto;
  padding-top: 13px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #f71a28;
}

.side-bar h4 {
  background-color: #808080;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  padding: 8px;
  text-align: center;
  width: 200px;
  margin: 0px auto 20px auto;
}

.center-button {
  margin-top: 10px;
  text-align: center;
}

thead i {
  color: #313131;
}

.item-btn {
  background-color: #808080;
  border: none;
  color: white;
  height: 26px;
  width: 26px;
  padding: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

.item-btn:hover {
  background-color: #E53935; 
}

.item-btn .material-icons {
  color: #ffffff;
  font-size: 20px;
}

button {
  padding: 3px 0px;
}

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
 border-bottom: 1px solid #E53935 !important;
 box-shadow: 0 2px 0 0 #E53935 !important;
}

.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
 color: #E53935 !important;
}
